body {
    font-size: 14px;
    font-family: "Helvetica Neue", "Arial", "sans-serif";
    max-width: 1000px;
    margin: 0 auto;
}

button {
    color: white;
    background-color: #F04100;
    font-size: 14px;
    height: 75px;
    line-height: 18px;
    text-align: center;
    width: 110px;
    border: 2px solid rgba(20,20,20,0.2);
    margin-left: 2px;
}

table {
    width: 100%;
}
table td {
    padding: 5px;
}

img {
    width: 100%;
    max-width: 100%;
    border: none;

}

/* Header */
#header {
    display: flex;
    background: orange;
    padding: 30px 20px;
}

#header .logo  h1{
    background-image: url("logo.png");
    background-size: 145px 69px;
    height: 69px;
    width: 145px;
}

#header .logo h2 {
    font-style: italic;
    margin: 0px 0px 0px 20px;
    text-align: right;
}

#header .actions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
#header .actions button {
}

#content {
    display: flex;
    margin-top: 20px;
}
/* Left Section */

.left-section {
    flex: 1;
    margin-right: 20px;
}
.left-section .header {
    display: flex;
    height: 30px;
}

.left-section .header button {
    height: 25px;
}
.left-section .header > .actions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

table th {
    background: #ccc;
    padding: 5px;
}
.totals td {
    border-top: 3px solid #ccc;
}

.legend {
    width: 30px;
    height: 16px;
}

/* Right Section */
.right-section {
    width: 300px;
    
}
.right-section .chart {
    width: 238px;
    height: 236px;
}

.right-section .help-label {
    padding: 10px;
}

.canvasjs-chart-credit{
    display: none;
}

.flags-canada, .flags-mexico, .flags-usa {
  background-image: url('../images/flags.png');
  background-repeat: no-repeat;
}

.flags-canada {
  height: 128px;
  background-position: -5px -5px;
}

.flags-usa {
  height: 135px;
  background-position: -5px -143px;
}

.flags-mexico {
  height: 147px;
  background-position: -5px -288px;
}